In [94]:
# Initial setup
import pandas as pd
import numpy as np
import re # Regular expressions
dir = '/home/josh/Documents/Personal/Kaggle/NCAA'

data = [re.split('_', id) for id in sample_submission['Id']]
data = pd.DataFrame(data)
data.columns = ['Year', 'team_id1', 'team_id2']
data['Pred'] = sample_submission['Pred']
data
def make_submission(data):
    submission = pd.DataFrame(data['Year'] + '_' + data['team_id1'] +data['team_id2'])
    submission['Pred'] = data['Pred']
    submission.columns = ['Id', 'Pred']
    return(submission)
make_submission(data)

                 Id  Pred
0     2012_11041124   0.5
1     2012_11041125   0.5
2     2012_11041140   0.5
3     2012_11041143   0.5
4     2012_11041153   0.5
5     2012_11041160   0.5
6     2012_11041161   0.5
7     2012_11041163   0.5
8     2012_11041166   0.5
9     2012_11041172   0.5
10    2012_11041178   0.5
11    2012_11041181   0.5
12    2012_11041196   0.5
13    2012_11041199   0.5
14    2012_11041207   0.5
15    2012_11041211   0.5
16    2012_11041217   0.5
17    2012_11041231   0.5
18    2012_11041233   0.5
19    2012_11041235   0.5
20    2012_11041242   0.5
21    2012_11041243   0.5
22    2012_11041246   0.5
23    2012_11041249   0.5
24    2012_11041250   0.5
25    2012_11041253   0.5
26    2012_11041254   0.5
27    2012_11041257   0.5
28    2012_11041259   0.5
29    2012_11041266   0.5
...             ...   ...
9082  2015_14341461   0.5
9083  2015_14341462   0.5
9084  2015_14371438   0.5
9085  2015_14371452   0.5
9086  2015_14371455   0.5
9087  2015_14371458   0.5
9088  2015_14371459   0.5
9089  2015_14371461   0.5
9090  2015_14371462   0.5
9091  2015_14381452   0.5
9092  2015_14381455   0.5
9093  2015_14381458   0.5
9094  2015_14381459   0.5
9095  2015_14381461   0.5
9096  2015_14381462   0.5
9097  2015_14521455   0.5
9098  2015_14521458   0.5
9099  2015_14521459   0.5
9100  2015_14521461   0.5
9101  2015_14521462   0.5
9102  2015_14551458   0.5
9103  2015_14551459   0.5
9104  2015_14551461   0.5
9105  2015_14551462   0.5
9106  2015_14581459   0.5
9107  2015_14581461   0.5
9108  2015_14581462   0.5
9109  2015_14591461   0.5
9110  2015_14591462   0.5
9111  2015_14611462   0.5

[9112 rows x 2 columns]

In [45]:
# Read in data
seasons = pd.read_csv(dir + '/Seasons.csv')
teams = pd.read_csv(dir + '/Teams.csv')
regular_compact_results = pd.read_csv(dir + '/RegularSeasonCompactResults.csv')
regular_detailed_results = pd.read_csv(dir + '/RegularSeasonDetailedResults.csv')
tourney_compact_results = pd.read_csv(dir + '/TourneyCompactResults.csv')
tourney_detailed_results = pd.read_csv(dir + '/TourneyDetailedResults.csv')
tourney_seed = pd.read_csv(dir + '/TourneySeeds.csv')
tourney_slots = pd.read_csv(dir + '/TourneySlots.csv')
sample_submission = pd.read_csv(dir + '/SampleSubmission.csv')

In [54]:
# Look at the first few rows of each dataset, and their dimensions
# sample_submission.iloc[np.arange(5)]
nrow = 4
print('seasons:\n', seasons.head(nrow), '\nDimension: ', seasons.shape)
print('teams:\n', teams.head(nrow), '\nDimension: ', teams.shape)
print('regular_compact_results:\n', regular_compact_results.head(nrow),
      '\nDimension: ', regular_compact_results.shape)
print('regular_detailed_results:\n', regular_detailed_results.head(nrow),
      '\nDimension: ', regular_detailed_results.shape)
print('tourney_compact_results:\n', tourney_compact_results.head(nrow),
      '\nDimension: ', tourney_compact_results.shape)
print('tourney_detailed_results:\n', tourney_detailed_results.head(nrow),
      '\nDimension: ', tourney_detailed_results.shape)
print('tourney_seed:\n', tourney_seed.head(nrow),
      '\nDimension: ', tourney_seed.shape)
print('tourney_slots:\n', tourney_slots.head(nrow),
      '\nDimension: ', tourney_slots.shape)
print('sample_submission:\n', sample_submission.head(nrow),
      '\nDimension: ', sample_submission.shape)

seasons:
    Season     Dayzero Regionw    Regionx    Regiony    Regionz
0    1985  10/29/1984    East       West    Midwest  Southeast
1    1986  10/28/1985    East    Midwest  Southeast       West
2    1987  10/27/1986    East  Southeast    Midwest       West
3    1988  11/02/1987    East    Midwest  Southeast       West
Dimension:  (32, 6)
teams:
    Team_Id    Team_Name
0     1101  Abilene Chr
1     1102    Air Force
2     1103        Akron
3     1104      Alabama
Dimension:  (364, 2)
regular_compact_results:
    Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
Dimension:  (139920, 8)
regular_detailed_results:
    Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  Wfgm  Wfga ...   \
0    2003      10   1104      68   1328      62    N      0    27    58 ...
1    2003      10   1272      70   1393      63    N      0    26    62 ...
2    2003      11   1266      73   1437      61    N      0    24    58 ...
3    2003      11   1296      56   1457      50    N      0    18    38 ...

   Lfga3  Lftm  Lfta  Lor  Ldr  Last  Lto  Lstl  Lblk  Lpf
0     10    16    22   10   22     8   18     9     2   20
1     24     9    20   20   25     7   12     8     6   16
2     26    14    23   31   22     9   12     2     5   23
3     22     8    15   17   20     9   19     4     3   23

[4 rows x 34 columns]
Dimension:  (65872, 34)
tourney_compact_results:
    Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985     136   1116      63   1234      54    N      0
1    1985     136   1120      59   1345      58    N      0
2    1985     136   1207      68   1250      43    N      0
3    1985     136   1229      58   1425      55    N      0
Dimension:  (1983, 8)
tourney_detailed_results:
    Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  Wfgm  Wfga ...   \
0    2003     134   1421      92   1411      84    N      1    32    69 ...
1    2003     136   1112      80   1436      51    N      0    31    66 ...
2    2003     136   1113      84   1272      71    N      0    31    59 ...
3    2003     136   1141      79   1166      73    N      0    29    53 ...

   Lfga3  Lftm  Lfta  Lor  Ldr  Last  Lto  Lstl  Lblk  Lpf
0     31    14    31   17   28    16   15     5     0   22
1     16     7     7    8   26    12   17    10     3   15
2     28    14    21   20   22    11   12     2     5   18
3     17    12    17   14   17    20   21     6     6   21

[4 rows x 34 columns]
Dimension:  (847, 34)
tourney_seed:
    Season Seed  Team
0    1985  W01  1207
1    1985  W02  1210
2    1985  W03  1228
3    1985  W04  1260
Dimension:  (2014, 3)
tourney_slots:
    Season  Slot Strongseed Weakseed
0    1985  R1W1        W01      W16
1    1985  R1W2        W02      W15
2    1985  R1W3        W03      W14
3    1985  R1W4        W04      W13
Dimension:  (1983, 4)
sample_submission:
                Id  Pred
0  2012_1104_1124   0.5
1  2012_1104_1125   0.5
2  2012_1104_1140   0.5
3  2012_1104_1143   0.5
Dimension:  (9112, 2)