In [1]:
# Load main packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import getpass # For identifying user/directory structure
import networkx as nx
import re
from sklearn import linear_model
%matplotlib inline

# Load local files
import sys # For reading files in other directories
if(getpass.getuser() == 'rockc_000'):
    sys.path.insert(0, 'C:/Users/rockc_000/Documents/GitHub/GithubSandbox/Python/NCAA Scripts')
    dir = 'C:/Users/rockc_000/Documents/Personal Files/Kaggle/NCAA'
if(getpass.getuser() == 'josh'):
    sys.path.insert(0, '/home/josh/Documents/Github/GithubSandbox/Python/NCAA Scripts')
    dir = '/home/josh/Documents/Personal/Kaggle/NCAA'
from make_submission import make_submission

In [2]:
# Read in data
seasons = pd.read_csv(dir + '/Seasons.csv')
teams = pd.read_csv(dir + '/Teams.csv')
regular_compact_results = pd.read_csv(dir + '/RegularSeasonCompactResults.csv')
regular_detailed_results = pd.read_csv(dir + '/RegularSeasonDetailedResults.csv')
tourney_compact_results = pd.read_csv(dir + '/TourneyCompactResults.csv')
tourney_detailed_results = pd.read_csv(dir + '/TourneyDetailedResults.csv')
tourney_seed = pd.read_csv(dir + '/TourneySeeds.csv')
tourney_slots = pd.read_csv(dir + '/TourneySlots.csv')
sample_submission = pd.read_csv(dir + '/SampleSubmission.csv')

In [3]:
# Look at the first few rows of each dataset, and their dimensions
# sample_submission.iloc[np.arange(5)]
nrow = 4
print('seasons:\n', seasons.head(nrow), '\nDimension: ', seasons.shape)
print('teams:\n', teams.head(nrow), '\nDimension: ', teams.shape)
print('regular_compact_results:\n', regular_compact_results.head(nrow),
      '\nDimension: ', regular_compact_results.shape)
print('regular_detailed_results:\n', regular_detailed_results.head(nrow),
      '\nDimension: ', regular_detailed_results.shape)
print('tourney_compact_results:\n', tourney_compact_results.head(nrow),
      '\nDimension: ', tourney_compact_results.shape)
print('tourney_detailed_results:\n', tourney_detailed_results.head(nrow),
      '\nDimension: ', tourney_detailed_results.shape)
print('tourney_seed:\n', tourney_seed.head(nrow),
      '\nDimension: ', tourney_seed.shape)
print('tourney_slots:\n', tourney_slots.head(nrow),
      '\nDimension: ', tourney_slots.shape)
print('sample_submission:\n', sample_submission.head(nrow),
      '\nDimension: ', sample_submission.shape)

seasons:
    Season     Dayzero Regionw    Regionx    Regiony    Regionz
0    1985  10/29/1984    East       West    Midwest  Southeast
1    1986  10/28/1985    East    Midwest  Southeast       West
2    1987  10/27/1986    East  Southeast    Midwest       West
3    1988  11/02/1987    East    Midwest  Southeast       West
Dimension:  (32, 6)
teams:
    Team_Id    Team_Name
0     1101  Abilene Chr
1     1102    Air Force
2     1103        Akron
3     1104      Alabama
Dimension:  (364, 2)
regular_compact_results:
    Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
Dimension:  (139920, 8)
regular_detailed_results:
    Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  Wfgm  Wfga ...   \
0    2003      10   1104      68   1328      62    N      0    27    58 ...
1    2003      10   1272      70   1393      63    N      0    26    62 ...
2    2003      11   1266      73   1437      61    N      0    24    58 ...
3    2003      11   1296      56   1457      50    N      0    18    38 ...

   Lfga3  Lftm  Lfta  Lor  Ldr  Last  Lto  Lstl  Lblk  Lpf
0     10    16    22   10   22     8   18     9     2   20
1     24     9    20   20   25     7   12     8     6   16
2     26    14    23   31   22     9   12     2     5   23
3     22     8    15   17   20     9   19     4     3   23

[4 rows x 34 columns]
Dimension:  (65872, 34)
tourney_compact_results:
    Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985     136   1116      63   1234      54    N      0
1    1985     136   1120      59   1345      58    N      0
2    1985     136   1207      68   1250      43    N      0
3    1985     136   1229      58   1425      55    N      0
Dimension:  (1983, 8)
tourney_detailed_results:
    Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  Wfgm  Wfga ...   \
0    2003     134   1421      92   1411      84    N      1    32    69 ...
1    2003     136   1112      80   1436      51    N      0    31    66 ...
2    2003     136   1113      84   1272      71    N      0    31    59 ...
3    2003     136   1141      79   1166      73    N      0    29    53 ...

   Lfga3  Lftm  Lfta  Lor  Ldr  Last  Lto  Lstl  Lblk  Lpf
0     31    14    31   17   28    16   15     5     0   22
1     16     7     7    8   26    12   17    10     3   15
2     28    14    21   20   22    11   12     2     5   18
3     17    12    17   14   17    20   21     6     6   21

[4 rows x 34 columns]
Dimension:  (847, 34)
tourney_seed:
    Season Seed  Team
0    1985  W01  1207
1    1985  W02  1210
2    1985  W03  1228
3    1985  W04  1260
Dimension:  (2014, 3)
tourney_slots:
    Season  Slot Strongseed Weakseed
0    1985  R1W1        W01      W16
1    1985  R1W2        W02      W15
2    1985  R1W3        W03      W14
3    1985  R1W4        W04      W13
Dimension:  (1983, 4)
sample_submission:
                Id  Pred
0  2012_1104_1124   0.5
1  2012_1104_1125   0.5
2  2012_1104_1140   0.5
3  2012_1104_1143   0.5
Dimension:  (9112, 2)

## Pagerank algorithm on historical wins

In [4]:
# Initialize DataFrame with one (meaningless) row
pagerank_score = pd.DataFrame({'Season': [1900], 'Team': [0], 'Score': [0]})
for season in seasons['Season']:
    G = nx.DiGraph()
    edges = regular_compact_results.ix[regular_compact_results['Season'] == season,
                                       ('Wteam', 'Lteam')]
    for row in np.arange(edges.shape[0]):
        G.add_edge(edges.iloc[row][1], edges.iloc[row][0])
    # Calculate the page-rank using the networkx package
    out = nx.pagerank(G)
    # Convert the page-rank scores into a DataFrame.
    out = pd.DataFrame.from_dict(out, orient='index')
    out.rename(columns={0: 'Score'}, inplace=True)
    out['Team'] = out.index
    out['Season'] = season
    pagerank_score = pagerank_score.append(out)
pagerank_score = pagerank_score.ix[pagerank_score['Team'] != 0]

## Aggregated Statistics

In [10]:
win_count = regular_compact_results.groupby(('Season', 'Wteam'))
win_count = win_count['Daynum'].count()

# Aggregate the scores for the winning team and losing team
# as well as the number of games played.
win_pts = regular_compact_results.groupby(('Season', 'Wteam'))
win_pts = pd.merge(win_pts[('Lscore', 'Wscore')].sum(),
                    pd.DataFrame(win_pts['Season'].count()),
                    left_index=True, right_index=True)
lose_pts = regular_compact_results.groupby(('Season', 'Lteam'))
lose_pts = pd.merge(lose_pts[('Lscore', 'Wscore')].sum(),
                    pd.DataFrame(lose_pts['Season'].count()),
                    left_index=True, right_index=True)

win_pts.index.set_names(('Season', 'Team'), inplace=True)
lose_pts.index.set_names(('Season', 'Team'), inplace=True)
lose_pts.rename(columns={'Lscore': 'Points_for', 'Wscore': 'Points_againt',
                         'Season': 'Game_cnt'}, inplace=True)
win_pts.rename(columns={'Wscore': 'Points_for', 'Lscore': 'Points_againt',
                        'Season': 'Game_cnt'}, inplace=True)
total_pts = win_pts.append(lose_pts)
total_pts = total_pts.groupby(level=('Season', 'Team')).sum()

In [13]:
print(total_pts.loc[1985].loc[1102])
print(win_pts.loc[1985].loc[1102])
print(lose_pts.loc[1985].loc[1102])

Game_cnt           24
Points_againt    1653
Points_for       1514
Name: 1102, dtype: int64
Points_againt    305
Points_for       355
Game_cnt           5
Name: 1102, dtype: int64
Points_for       1159
Points_againt    1348
Game_cnt           19
Name: 1102, dtype: int64

In [50]:
#stat_vars = np.array(('or', 'dr', 'ast', 'to', 'stl', 'blk', 'pf'),
#                     dtype=str)
#win_vars = np.array(['W' + x for x in stat_vars])
#lose_vars = np.array(['L' + x for x in stat_vars])

# Add a column to make counting games easier:
regular_detailed_results['all_one'] = 1
detail_win = regular_detailed_results.groupby(('Season', 'Wteam'))
detail_win = detail_win[('Wor', 'Wdr', 'Wast', 'Wto', 'Wstl', 'Wblk', 'Wpf',
                         'Lor', 'Ldr', 'Last', 'Lto', 'Lstl', 'Lblk', 'Lpf',
                         'all_one')].sum()
def col_rename(col_name):
    if(re.search('W', col_name) is not None):
        col_name = re.sub('W', '', col_name)
        col_name = col_name + '_for'
    if(re.search('L', col_name) is not None):
        col_name = re.sub('L', '', col_name)
        col_name = col_name + '_against'
    return(col_name)
detail_win.rename(columns=col_rename, inplace=True)
detail_win.index.set_names(('Season', 'Team'), inplace=True)

detail_lose = regular_detailed_results.groupby(('Season', 'Lteam'))
detail_lose = detail_lose[('Lor', 'Ldr', 'Last', 'Lto', 'Lstl', 'Lblk', 'Lpf',
                           'Wor', 'Wdr', 'Wast', 'Wto', 'Wstl', 'Wblk', 'Wpf',
                           'all_one')].sum()
def col_rename(col_name):
    if(re.search('W', col_name) is not None):
        col_name = re.sub('W', '', col_name)
        col_name = col_name + '_against'
    if(re.search('L', col_name) is not None):
        col_name = re.sub('L', '', col_name)
        col_name = col_name + '_for'
    return(col_name)
detail_lose.rename(columns=col_rename, inplace=True)
detail_lose.index.set_names(('Season', 'Team'), inplace=True)

detail_data = detail_win.append(detail_lose)
detail_data = detail_data.groupby(level=('Season', 'Team')).sum()
detail_data.drop(labels='all_one', axis=1, inplace=True)

## Other variables

- It'd be interesting to look at trends.  So, we could fit a linear regression to the point difference over time, and see if they tend to be winning or losing by more and more points.

## Create final DataFrame

In [51]:
print(detail_data.shape)
print(total_pts.shape)
print(win_count.shape)
final_data = pd.merge(detail_data, total_pts, right_index=True, left_index=True, how='outer')
win_count = pd.DataFrame(win_count)
win_count.index.rename(('Season', 'Team'), inplace=True)
final_data = pd.merge(final_data, win_count, right_index=True, left_index=True, how='outer')
final_data

(4428, 14)
(9835, 3)
(9821, 1)

             or_for  dr_for  ast_for  to_for  stl_for  blk_for  pf_for  \
Season Team
1985   1102     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1103     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1104     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1106     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1108     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1109     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1110     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1111     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1112     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1113     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1114     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1116     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1117     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1119     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1120     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1121     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1122     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1123     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1124     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1126     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1129     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1130     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1131     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1132     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1133     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1134     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1135     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1137     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1139     NaN     NaN      NaN     NaN      NaN      NaN     NaN
       1140     NaN     NaN      NaN     NaN      NaN      NaN     NaN
...             ...     ...      ...     ...      ...      ...     ...
2015   1433     372     785      442     364      338      151     673
       1434     284     699      371     355      169      130     498
       1435     256     653      472     385      151      149     533
       1436     210     669      385     377      198      156     578
       1437     307     770      541     365      265      137     562
       1438     295     766      413     298      179      137     456
       1439     225     560      396     382      144       97     595
       1440     326     630      357     422      217      157     609
       1441     320     664      349     401      238      131     637
       1442     152     526      300     316      130       60     451
       1443     283     730      410     387      155       96     544
       1444     250     660      380     361      197       66     579
       1447     364     675      302     396      181       75     661
       1448     321     803      451     425      208      123     579
       1449     271     672      412     357      152      153     534
       1450     233     673      453     358      120      102     570
       1451     230     610      316     367      140      107     509
       1452     462     648      465     412      350       91     748
       1453     297     688      415     352      225      142     553
       1454     198     595      366     361      150       79     488
       1455     307     688      423     278      219      117     514
       1456     182     656      433     337      183      121     487
       1457     256     645      340     337      195      122     516
       1458     286     790      432     247      154      119     409
       1459     249     685      420     335      205       82     545
       1460     174     549      378     354      153       73     560
       1461     163     679      449     345      177       92     444
       1462     289     821      557     407      207       97     612
       1463     286     672      383     378      170      113     530
       1464     219     534      406     340      171       56     540

             or_against  dr_against  ast_against  to_against  stl_against  \
Season Team
1985   1102         NaN         NaN          NaN         NaN          NaN
       1103         NaN         NaN          NaN         NaN          NaN
       1104         NaN         NaN          NaN         NaN          NaN
       1106         NaN         NaN          NaN         NaN          NaN
       1108         NaN         NaN          NaN         NaN          NaN
       1109         NaN         NaN          NaN         NaN          NaN
       1110         NaN         NaN          NaN         NaN          NaN
       1111         NaN         NaN          NaN         NaN          NaN
       1112         NaN         NaN          NaN         NaN          NaN
       1113         NaN         NaN          NaN         NaN          NaN
       1114         NaN         NaN          NaN         NaN          NaN
       1116         NaN         NaN          NaN         NaN          NaN
       1117         NaN         NaN          NaN         NaN          NaN
       1119         NaN         NaN          NaN         NaN          NaN
       1120         NaN         NaN          NaN         NaN          NaN
       1121         NaN         NaN          NaN         NaN          NaN
       1122         NaN         NaN          NaN         NaN          NaN
       1123         NaN         NaN          NaN         NaN          NaN
       1124         NaN         NaN          NaN         NaN          NaN
       1126         NaN         NaN          NaN         NaN          NaN
       1129         NaN         NaN          NaN         NaN          NaN
       1130         NaN         NaN          NaN         NaN          NaN
       1131         NaN         NaN          NaN         NaN          NaN
       1132         NaN         NaN          NaN         NaN          NaN
       1133         NaN         NaN          NaN         NaN          NaN
       1134         NaN         NaN          NaN         NaN          NaN
       1135         NaN         NaN          NaN         NaN          NaN
       1137         NaN         NaN          NaN         NaN          NaN
       1139         NaN         NaN          NaN         NaN          NaN
       1140         NaN         NaN          NaN         NaN          NaN
...                 ...         ...          ...         ...          ...
2015   1433         298         813          451         545          205
       1434         230         519          343         347          198
       1435         311         601          344         358          200
       1436         249         625          286         391          197
       1437         277         640          404         467          192
       1438         214         516          289         328          163
       1439         355         807          459         394          173
       1440         274         740          391         438          227
       1441         307         682          371         413          232
       1442         228         722          338         292          157
       1443         273         704          372         376          193
       1444         264         664          388         378          176
       1447         247         601          397         385          199
       1448         259         717          429         372          260
       1449         320         714          366         344          187
       1450         269         750          417         290          187
       1451         242         615          339         301          177
       1452         250         567          374         616          185
       1453         242         578          325         390          176
       1454         227         632          339         297          199
       1455         196         521          268         401          123
       1456         268         698          397         336          203
       1457         289         676          312         363          172
       1458         209         587          302         335          135
       1459         240         649          290         391          165
       1460         233         718          371         367          168
       1461         216         701          321         335          171
       1462         270         692          442         433          221
       1463         233         531          334         345          182
       1464         290         708          431         350          182

             blk_against  pf_against  Game_cnt  Points_againt  Points_for  \
Season Team
1985   1102          NaN         NaN        24           1653        1514
       1103          NaN         NaN        23           1474        1404
       1104          NaN         NaN        30           1821        2055
       1106          NaN         NaN        24           1810        1719
       1108          NaN         NaN        25           1876        2075
       1109          NaN         NaN        24           1991        1292
       1110          NaN         NaN        25           1930        1736
       1111          NaN         NaN        24           1678        1611
       1112          NaN         NaN        27           1602        1796
       1113          NaN         NaN        27           1938        1828
       1114          NaN         NaN        30           2093        2157
       1116          NaN         NaN        33           2036        2156
       1117          NaN         NaN        25           1673        1601
       1119          NaN         NaN        28           1867        1856
       1120          NaN         NaN        29           1933        2040
       1121          NaN         NaN        26           1975        1663
       1122          NaN         NaN        23           1665        1468
       1123          NaN         NaN        29           2177        2225
       1124          NaN         NaN        24           1993        1883
       1126          NaN         NaN        25           1997        1678
       1129          NaN         NaN        25           1643        1678
       1130          NaN         NaN        26           1810        1947
       1131          NaN         NaN        28           1862        1916
       1132          NaN         NaN        26           1818        1752
       1133          NaN         NaN        28           1926        1969
       1134          NaN         NaN        24           1668        1651
       1135          NaN         NaN        26           1811        1736
       1137          NaN         NaN        25           1718        1775
       1139          NaN         NaN        24           1611        1636
       1140          NaN         NaN        29           2159        2175
...                  ...         ...       ...            ...         ...
2015   1433          117         655        35           2293        2537
       1434           98         541        30           1792        2052
       1435           97         590        31           1977        2147
       1436          109         566        30           1748        1965
       1437           91         669        34           2070        2593
       1438           85         512        32           1624        2091
       1439          148         546        33           2289        2156
       1440          123         515        28           2324        2158
       1441          114         571        30           2161        2093
       1442           90         432        26           1865        1582
       1443          103         574        30           2045        2092
       1444           94         623        31           2157        2188
       1447          140         558        29           2157        1969
       1448          127         626        32           2307        2209
       1449           96         552        31           2105        2128
       1450           93         593        31           2373        2189
       1451           86         543        28           1933        1827
       1452          129         716        32           2139        2366
       1453           97         557        30           1828        2030
       1454           96         505        28           1964        1824
       1455          108         548        31           1729        2126
       1456           67         514        30           2035        2161
       1457          104         522        29           1977        2078
       1458           67         613        34           1908        2444
       1459          107         589        32           1922        2108
       1460          103         453        29           1985        1832
       1461           77         599        32           1822        1966
       1462          126         679        34           2300        2501
       1463           97         599        30           1833        1965
       1464          108         516        29           2225        2054

             Daynum
Season Team
1985   1102       5
       1103       9
       1104      21
       1106      10
       1108      19
       1109       1
       1110       7
       1111      10
       1112      18
       1113      11
       1114      17
       1116      21
       1117      11
       1119      15
       1120      18
       1121       7
       1122       6
       1123      13
       1124       7
       1126       6
       1129      12
       1130      16
       1131      14
       1132      11
       1133      16
       1134      11
       1135       8
       1137      15
       1139      16
       1140      15
...             ...
2015   1433      26
       1434      25
       1435      18
       1436      17
       1437      32
       1438      29
       1439      11
       1440       9
       1441      13
       1442       6
       1443      18
       1444      18
       1447       9
       1448      13
       1449      16
       1450      13
       1451      11
       1452      23
       1453      22
       1454      12
       1455      27
       1456      18
       1457      16
       1458      31
       1459      26
       1460       9
       1461      23
       1462      21
       1463      20
       1464       8

[9835 rows x 18 columns]

## Quick Correlation Plots